    h1 {
            background-color: rgb(17, 206, 240);
            color: black;
            text-align: center;
        }

    h2 {
        color: rgb(0, 0, 0);
        background-color: burlywood;
        text-align: center;
    }
    
    p {
        background-color: blueviolet;

    }

    body {
        background-color: rgb(58, 110, 110);
    }